dash-core-components
dash-html-components
dash-renderer
dash-table
dash
flask-assets
flask
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
numpy
pandas
plotly
# uwsgi: (i) won't install on Windows, (ii) only for production
uwsgi
webassets
werkzeug
flake8
autopep8
pytest
pytest-cov
safety
python-dotenv
