dash-core-components
dash-html-components
dash-renderer
dash-table
dash
flask-assets
flask
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
numpy
pandas
plotly
# Deactivated reason: Requires some sort of binary intall on windows; I tried GCC but didn't work.
# ...but not necessary to use for Windows dev environment. Manually install this in producation.
# Activate env and run: `pip install uWSGI`. - joeflack4 2021/11/2
# uwsgi
webassets
werkzeug
flake8
autopep8
pytest
pytest-cov
safety
python-dotenv
